@import 'var';

/*==========BUTTONS==========*/
.btn_wrap {
  margin-bottom: 0.7em;
}

.btn {
  font-size: 0.6em;
  font-weight: bold;
  cursor: pointer;
  padding: 0.6em 1.6em;
  text-decoration: none;
  border-radius: 1px;
  border: none;
  border: 0;
  display: inline-block;
  transition: all .2s;
  white-space: nowrap;
  box-shadow: 1px 1px 3px rgba(41,41,41,0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    box-shadow: 6px 6px 3px rgba(41,41,41,0.4);
  }
}

.btn_white {
  @extend .btn;
  color: #302B2C;
  background: white;
  &:hover {
    color: #302B2C;
    background: white;
  }
}

.btn_blue {
  @extend .btn;
  color: white;
  background: $blue;
  &:hover {
    color: #fff;
  }
}

.btn_green {
  @extend .btn;
  color: $gray;
  background: $green;
  &:hover {
    color: #fff;
  }
}

.btn_gray {
  @extend .btn;
  color: white;
  background: $light_gray;
  &:hover {
    color: #fff;
  }
}

.btn_red {
  @extend .btn;
  color: white;
  background: $red;
  &:hover {
    color: #fff;
  }
}

// Small buttons
.S_btn {
  font-size: 0.4em;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em 1.2em;
  text-decoration: none;
  border-radius: 1px;
  border: none;
  border: 0;
  display: inline-block;
  transition: all .2s;
  white-space: nowrap;
  box-shadow: 1px 1px 3px rgba(41,41,41,0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
      box-shadow: 6px 6px 3px rgba(41,41,41,0.4);
  }
}

.btn_white_s {
  @extend .S_btn;
  color: #302B2C;
  background: white;
  &:hover {
    color: #302B2C;
    background: white;
  }
}

.btn_inactive {
  @extend .btn;
  color: #fff;
  background: $controls;
}

/*---==forms==---*/
.me_input input, [type=submit], .me_input textarea {
  font-family: lato, sans-serif;
  border-radius: 3px;
}

.me_input input, .me_input textarea {
  background: #fff;
  border: 1px solid #bdc3c7;
  margin: 0 0 15px 0;
  display: block;
  width: 100%;
  height: auto;
  transition: all .5s;
  font-size: 0.6em;
  padding: 0.33em;
}

.me_input textarea {
  max-width: 100%;
  height: 300px;
  max-height: 400px;
}

.me_input input:focus, .me_input textarea:focus {
  outline: none;
  border: 1px solid $blue;
}
/*-drop downs-*/
.me_dropdown {
  position: relative;
  display: inline-block;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: rgba(80,80,80,.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.33em;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    display: block;
    width: 200px;
    height: auto;
    font-size: 0.6em;
    font-family: lato, sans-serif;
    box-sizing: border-box;
  }
  option {
    font-size: 1.3em;
    padding: 1em;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 53%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/icons/icon-arrow.svg") no-repeat center center;
    pointer-events: none;
    box-sizing: border-box;
  }
}

/*place holder style*/
.me_input input::-webkit-input-placeholder {
  color: rgba(80,80,80,.5);
  font-size: 18px;
}
.me_input input::-moz-placeholder {
  color: rgba(80,80,80,.5);
  font-size: 18px;
}
.me_input input:-ms-input-placeholder {
  color: rgba(80,80,80,.5);
  font-size: 18px;
}
.me_input input:-moz-placeholder {
  color: rgba(80,80,80,.5);
  font-size: 18px;
}

/* .me-checkbox */
.me-checkbox-group {
	display: block;
	margin: 20px 0;
	position: relative;
}
.me-checkbox {
  position: absolute;
	display: inline-block;
	right: 0;
}
.me-checkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-linear-gradient(top, #e8ebee 0%, #f6f6f7 100%);
  background: linear-gradient(to bottom, #e8ebee 0%, #f6f6f7 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.me-checkbox label::after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 6px;
  border: 3px solid #292929;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.2s;
}
.me-checkbox label:hover::after {
  opacity: 0.3;
}
.me-checkbox input[type=checkbox] {
  visibility: hidden;
}
.me-checkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}

/*submit*/
.me_input [type=submit] {
  border: 0px;
  border: none;
  color: rgba(80,80,80,1);
  font-weight: 700;
  cursor: pointer;
  transition: all .5s;
  padding: 10px 20px;
}
.me_input [type=submit]:hover {
  outline: none;
  box-shadow: 0 0 4px #2980b9;
}


/*-=ALL FORMS=-*/
label {
  color: white;
	font-family: lato, sans-serif;
	font-size: 18px;
}

/*file type input*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    padding: 20px;
    background: #292929;
    box-shadow: 2px 2px 1px rgba(30,30,30, 1), -1px -1px 1px #B2B2B2;
    text-shadow: 2px 2px 1px rgba(30,30,30, 1);
    margin-bottom: 10px;
    border-radius: 5px;
}
.inputfile + label i {
    margin-right: 7px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #7BD59C;
    box-shadow: 1px 1px 1px #B2B2B2, -2px -2px 1px rgba(30,30,30, 1);
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

/*-drop downs-*/
select.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    background: #595959 url(../img/drop-down-arrow.png) no-repeat right center;
    background-size: 40px 40px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    text-shadow: 2px 2px 1px rgba(41,41,41,.8);
    margin: 15px 0px;
    display: block;
    height: auto;
    font-family: lato, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
}
select.dropdown::after {
	position: absolute;
	content: '>';
	font-family: lato,sans-serif;;
}

/*Infusionsoft forms*/
.infuse_form {
    display: block;
}
span.infusion-option {
    display: block;
}
.infusion-field-input-container {
    background: transparent;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px 1px rgba(41,41,41,.8);
    margin: 15px 0px;
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s;
    font-family: lato, sans-serif;
    font-size: 18px;
		box-sizing: border-box;
}

/*removing text shadow for Chrome's auto fill styles*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    text-shadow: none;
}

.infusion-field-input-container::-webkit-input-placeholder {
    color: rgba(230,230,230,.8);
    text-shadow: 2px 2px 1px rgba(41,41,41,.3);
}
.infusion-field-input-container::-moz-placeholder {
    color: rgba(230,230,230,.8);
    text-shadow: 2px 2px 1px rgba(41,41,41,.3);
}
.infusion-field-input-container:-ms-input-placeholder {
    color: rgba(230,230,230,.8);
    text-shadow: 2px 2px 1px rgba(41,41,41,.3);
}
.infusion-field-input-container:-moz-placeholder {
    color: rgba(230,230,230,.8);
    text-shadow: 2px 2px 1px rgba(41,41,41,.3);
}

textarea.infusion-field-input-container {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    font-size: 75%;
}

.infusion-field-input-container:focus {
    outline: none;
    border: 2px solid #7BD5ED;
    background: rgba(89,89,89,.8);
}
.infusion-submit {
    background: none;
    border: none;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: block;
    position: relative;
    top: 0px;
    color: white;
    font-size: 140%;
    cursor: pointer;
    margin: 40px auto 40px auto;
    text-shadow: 2px 2px 1px rgba(41,41,41,.3);
    background: #292929;
    box-shadow: 8px 8px 10px rgba(41,41,41, .8);
    transition: all .2s;
}
.infusion-submit:hover {
    box-shadow: 19px 19px 10px rgba(41,41,41, .8);
    -webkit-transform: rotate(10deg) scale(1.1,1.1);
    -moz-transform: rotate(10deg) scale(1.1,1.1);
    -ms-transform: rotate(10deg) scale(1.1,1.1);
    -o-transform: rotate(10deg) scale(1.1,1.1);
    transform: rotate(10deg) scale(1.1,1.1);
}
.infusion-submit:active {
    background: #595959;
    outline: none;
}
.infusion-submit::selection {
    background: #595959;
    border: none;
    outline: none;
}
.infusion-submit::after {
    content: '';
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: transparent;
    border: 4px dotted #7BD5ED;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*form validation*/
#form_message_box {
    visibility: hidden;
    opacity: 0;
    background: #e74c3c;
    padding: 10px;
    border: 3px solid #c0392b;
    border-radius: 5px;
    transition: all .3s;
}
#form_message_box p {
    padding: 0px;
    margin: 0px;
    font-size: 20px
}

/*---=form pages=---*/
#forms_steps {
    width: 100%;
    height: auto;
    min-height: 30em;
    padding: 10% 0;
    position: relative;
    color: white;
    background: #595959;
}

#cter_form {
    width: 80%;
    padding: 5%;
    margin: 0 auto;
    background: rgba(41,41,41,.8);
    position: relative;
    z-index: 3;
}

#t_forms {
    margin-top: 50px;
}

/*form fields style for STEP 3 form*/
.libs_field {
    display: block;
}

/*darker shadow for submit button*/
#forms_steps .infusion-submit {
    box-shadow: 8px 8px 10px rgba(30,30,30, 1);
}

#forms_steps .infusion-submit:hover {
    box-shadow: 19px 19px 10px rgba(30,30,30, 1);
}
