@import 'var';
/*cart and search nav style*/
.bag_container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  .bag_btn_wrap {
    color: #fff;
    width: 60px;
    height: 60px;
    display: block;
    cursor: pointer;
    .bag_length {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 30px;
      background: $red;
      bottom: 0;
      right: 0;
      z-index: 8;
      span {
        color: #fff;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
  .view_bag_btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #7BD59C;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 8px 8px 10px rgba(41,41,41, .3);
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .bag_contents_wrap {
    background: #fff;
    position: absolute;
    top: 120%;
    right: 0;
    width: 390px;
    .bag_contents {
      position: relative;
      margin: 0.5em;
      .empty_bag {
        text-align: center;
      }
    }
    .bag_item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5em;
      padding: 0.5em 0.3em;
      font-size: 1em;
      color: $controls;
      border: 1px solid transparent;
      position: relative;
      &:hover {
        border: 1px solid $controls;
      }
      .bag_item_link {
        display: flex;
        justify-content: flex-start;
        align-self: center;
        color: inherit;
        text-decoration: none;
        .bag_img_holder {
          display: flex;
          justify-content: center;
          margin: 0 0.2em;
          img {
            align-self: center;
            width: 60px;
            font-size: 0.3em;
          }
        }
        .bag_item_name {
          font-size: 0.6em;
          align-self: center;
          width: 190px;
          .bag_item_price {
            margin-left: 0.3em;
          }
        }
        .bag_item_qty {
          font-size: 0.6em;
          align-self: center;
        }
      }
      .remove_btn {
        align-self: center;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        &:hover div {
          background: $red
        }
        div {
          width: 60%;
          background: $gray;
          height: 4px;
          border-radius: 3px;
          position: absolute;
          align-self: center;
          transition: all 0.3s;
        }
        div:first-child {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        div:last-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
    .bag_info_wrap {
      display: flex;
      justify-content: space-between;
      padding: 0 6% 5% 6%;
      font-family: lato, sans-serif;
      font-weight: bold;
      font-size: 0.7em;
      span {

      }
    }
    .bag_controls {
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      .bag_checkout {
        background: $red;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 1.5em;
        font-size: 0.6em;
        font-family: raleway;
        font-weight: bold;
        text-transform: uppercase;
        flex: 5 1 150px;
      }
      .close_bag {
        flex: 1 1 60px;
        background: $blue;
        position: relative;
        cursor: pointer;
        .close_btn {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          cursor: pointer;
          div {
            width: 100%;
            background: #fff;
            height: 1px;
            border: 3px solid #fff;
            border-radius: 3px;
            position: absolute;
            top: 50%;
            left: 0;
          }
          div:first-child {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          div:last-child {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}


/*======================
stretch nav
======================== */
.cd-stretchy-nav {
  position: fixed;
  z-index: 20;
  top: 20px;
  left: 20px;
  height: 0;
}

/*background darken*/
.nav-is-visible .nav_bkgd {
  position: fixed;
  width: 100vw;
  height: 150vh;
  background: rgba(112,112,112,.8);
  top: 0;
  left: 0;
}

/* -- this is the stretching navigation background --*/
.cd-stretchy-nav .stretchy-nav-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: #7BD59C;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: height 0.2s, box-shadow 0.2s;
  -moz-transition: height 0.2s, box-shadow 0.2s;
  transition: height 0.2s, box-shadow 0.2s;
  box-shadow: 8px 8px 10px rgba(41,41,41, .3);
}

.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
  height: 320px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: -0;
  left: 0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  /* replace text with image */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-nav-trigger:hover {
    color: transparent;
}


.cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* this is the hamburger icon */
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: #ffffff;
}
.cd-nav-trigger span {
  /* middle line of the hamburger icon */
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* top and bottom lines of the hamburger icon */
  content: '';
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  -o-transform: translateY(-12px);
  transform: translateY(-12px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
  transform: translateY(12px);
}
.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.nav-is-visible .cd-nav-trigger span {
  background-color: transparent;
}
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-stretchy-nav ul {
  position: relative;
  z-index: 2;
  padding: 60px 0 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  -moz-transition: visibility 0.3s;
  transition: visibility 0.3s;
  text-align: left;
}

/**/
.cd-stretchy-nav ul a {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 calc(1em + 60px) 0 1em;
  color: rgba(255, 255, 255, 1);
  font-size: 100%;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
    /*Adds shadow effect - makes it so it can be seen easier*/
    text-shadow: 0px 3px 5px rgba(50,50,50,.7), 2px 2px 5px rgba(50,50,50,.7), 0px 1px 0px rgba(50,50,50,.4);
}



.cd-stretchy-nav ul a::after {
  /* navigation item icons */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 21px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -o-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  opacity: .5;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  line-height: .5;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*font awesome nav icons*/
.cd-stretchy-nav ul #home::after {
    content: '\f015';
}
.cd-stretchy-nav ul #products::after {
    content: '\f02c';
}
.cd-stretchy-nav ul #blog::after {
    content: '\f27b';
}
.cd-stretchy-nav ul #faq::after {
    content: '\f00a';
}
.cd-stretchy-nav ul #policy::after {
    content: '\f0c4';
}
.cd-stretchy-nav ul #contact::after {
    content: '\f003';
}




.cd-stretchy-nav ul a.active::before {
/* background visible under the active navigation item */
  content: '';
  position: absolute;
  width: 200px;
  height: 25px;
  top: 50.5%;
  left: 67px;
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
  -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
  -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
  -o-transform: translateX(3px) translateY(-50%) scaleY(0);
  transform: translateX(1px) translateY(-50%) scaleY(0);
  background-color: gray;
  border-right: 2px solid #B2B2B2;
  border-top: 2px solid #B2B2B2;
  border-bottom: 2px solid #B2B2B2;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.cd-stretchy-nav ul span {
  /* navigation item labels */
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-45px);
  -moz-transform: translateX(-45px);
  -ms-transform: translateX(-45px);
  -o-transform: translateX(-45px);
  transform: translateX(-45px);
  width: 200px;
  left: 70px;
  position: absolute;
  font-size: .8em;
  top: -2px;
  text-shadow: 0px 3px 5px rgba(50,50,50,1), 2px 2px 5px rgba(50,50,50,1), 0px 1px 0px rgba(50,50,50,.9);
  transition: all 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul {
  visibility: visible;
}
.cd-stretchy-nav.nav-is-visible ul a::after {
  /* navigation item icons */
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-animation: scaleIn 0.15s backwards;
  -moz-animation: scaleIn 0.15s backwards;
  animation: scaleIn 0.15s backwards;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul a.active {
  color: #ffffff;
}
.cd-stretchy-nav.nav-is-visible ul a.active::after {
  opacity: 1;
}
.cd-stretchy-nav.nav-is-visible ul a.active::before {
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
  -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
  -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
  -o-transform: translateX(3px) translateY(-50%) scaleY(1);
  transform: translateX(3px) translateY(-50%) scaleY(1);
  -webkit-transition: -webkit-transform 0.15s 0.3s;
  -moz-transition: -moz-transform 0.15s 0.3s;
  transition: transform 0.15s 0.3s;
}
.cd-stretchy-nav.nav-is-visible ul span {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: slideIn 0.15s backwards;
  -moz-animation: slideIn 0.15s backwards;
  animation: slideIn 0.15s backwards;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  padding-left: 14px;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
  color: #ffffff;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
  opacity: 1;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) span {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(6) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(6) span {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/*======================
keyframes
========================*/
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}
@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0);
  }
  to {
    -moz-transform: translateY(-50%) scale(1);
  }
}
@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}
@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/*media queries*/
@media screen and (min-width: 650px) {
  #social_box {
    width: 80%;
    max-width: 700px;
    border: 3px dashed #7BD59C;
    border-radius: 10px;
  }
}
