@import 'var';

.pro_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  .pro_box {
    margin: 1em;
    box-shadow: 3px 3px 10px -5px $gray;
    text-decoration: none;
    color: #fff;
    background: #fff;
    position: relative;
    .pro_img {
      padding: 40px;
      margin: 0 auto;
      img {
        margin: 0 auto;
        transition: all 0.2s;
        width: 200px;
        height: 200px;
      }
    }
    &:hover .pro_img img {
      opacity: 0.3;
      filter: blur(2px);
    }
    .pro_name {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: transparent;
      span {
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
        transform: translateY(-50%);
        color: lighten($gray, 30%);
        padding: 0.5em;
        opacity: 0;
        transition: opacity 0.2s;
      }
      &:hover span {
        opacity: 1;
      }
    }
    .price_box {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.4em;
      background: lighten($gray, 15%);
      transition: background 0.2s;
      .pro_price {

      }
      .price_off {
        position: absolute;
        top: 0;
        right: 100%;
        width: 100px;
        height: 100%;
        color: black;
        font-size: 0.7em;
        display: flex;
        justify-content: center;
        span {
          align-self: center;
          color: $controls;
          i.fa {
            font-size: 0.7em;
          }
        }
      }
    }
    .price_box.discount {
      background: $red;
    }
    &:hover .price_box {
      background: $blue;
    }
  }
}

.filters_wrap {
  position: relative;
  width: 100%;
  .filters_bar {
    background: #fff;
    padding: 1em 0;
    width: 100%;
    height: 70px;
    position: relative;
    .filters_tab {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: all 0.4s;
      background: lighten($gray, 70%);
      height: 100vh;
      z-index: 8;
      .filters_close_wrap {
        background: $gray;
        height: 70px;
        position: relative;
        .close_btn {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          cursor: pointer;
          div {
            width: 100%;
            background: $controls;
            height: 1px;
            border: 3px solid $controls;
            border-radius: 3px;
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
          div:first-child {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          div:last-child {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
      }
      .filters_tab_controls {
        padding: 1em;
        .filters_dropdown {
          margin-bottom: 0.7em;
        }
        .btn_wrap {
          margin-bottom: 0.7em;
        }
      }
    }
    .filters_tab.show_filters {
      transform: translateX(0);
    }
    .filters_bar_container {
      width: 90%;
      height: 100%;
      max-width: 70em;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      .filters_toggle {
        align-self: center;
        position: absolute;
        left: 0;
        padding-left: 1em;
        background: url('../img/icons/icon-filter.svg');
        background-repeat: no-repeat;
        background-position: left center;
        cursor: pointer;
        color: $controls;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 10;
      }
      .collection_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-self: center;
        .collection {
          border: 2px solid $controls;
          border-radius: 3px;
          color: $controls;
          padding: 0.3em;
          margin: 0 0.3em;
          cursor: pointer;
        }
        .collection_label {
          color: $controls;
          font-size: 0.8em;
          display: flex;
          span {
            align-self: center;
          }
        }
      }
    }
  }
}

.input_search {
  display: flex;
  align-self: center;
  margin-bottom: 0.7em;
  input {
    align-self: center;
    border: 2px solid $controls;
    border-radius: 2px;
    background: transparent;
    transition: all 0.3s;
    margin: 0;
    &::-webkit-input-placeholder {
      color: $controls;
    }
    &::-moz-placeholder {
      color: $controls;
    }
    &:-ms-input-placeholder {
      color: $controls;
    }
    &:-moz-placeholder {
      color: $controls;
    }
    &:focus {
      border: 2px solid $blue;
      background: #fff;
    }
  }
}

.filters_dropdown select {
  background: transparent;
  color: $controls;
  border: 2px solid $controls;
  option {
    color: $controls;
  }
  &:focus {
    outline: none;
    border: 2px solid $blue;
    background: #fff;
  }
}





.pro_wrap {
  .pro_title_wrap {
    margin: 0 0 1em 0;
    h1.pro_name {
      color: $controls;
      font-size: 1em;
      text-align: center;
    }
  }
  .pro_info_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .col {
      padding: 35px 17.5px 0px 17.5px;
    }
    .pro_description {
      font-size: 0.8em;
      flex: 3 0 300px;
      .pro_dis_box {
        padding: 1.3em;
        background: #fff;
        p {
          margin-bottom: 0.5em;
        }
        .feature_box {
          h3 {

          }
          ul {
            list-style-type: disc;
            margin: 0.5em 0 0 1em;
          }
        }
      }
    }
    .pro_checkout {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 194px;
      .price_box {
        padding: 1.3em;
        background: #fff;
        display: inline-block;
        align-self: baseline;
        .pro_price_wrap {
          margin-bottom: 0.5em;
          .pro_percent {
            color: $controls;
            margin-bottom: 0.25em;
            i.fa {
              font-size: 0.7em;
            }
          }
          .pro_price {
            font-size: 1.2em;
            span {
              color: $controls;
              font-size: 0.6em;
              //text-decoration: line-through;
              position: relative;
              &::after {
                content: '';
                position: absolute;
                width: 120%;
                height: 1.5px;
                border-radius: 10px;
                background: #DE3636;
                top: 50%;
                left: 0;
                transform: rotate(-20deg);
              }
            }
          }
        }
        .qty_label {
          font-size: 0.6em;
          color: $controls;
          margin-bottom: 0.4em;
          display: block;
        }
        .qty_field_wrap {
          display: flex;
          justify-content: flex-start;
          height: 30px;
          margin-bottom: 0.5em;
          input {
            width: 40px;
            height: 100%;
            border: 1px solid $controls;
            border-right: none;
            border-left: none;
            padding: 0 5px;
          }
          .qty_controls {
            width: 30px;
            height: 100%;
            background: #fff;
            color: inherit;
            cursor: pointer;
            border: 1px solid $controls;
          }
        }
      }
    }
  }
}

// slider
.slider_wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  .slides_container {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    position: relative;
    .slide {
      width: 100%;
      margin: 0 auto;
      display: block;
      transition: opacity ease-in-out 0.3s;
    }
    .slideBtns {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      cursor: pointer;
      transition: all 0.2s;
      display: flex;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index: 20;
      &:hover {

      }
      i.fa {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 70px;
        background: rgba(180,180,180,0.3);
        display: flex;
        justify-content: center;
        color: #fff;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: all 0.2s;
        &:before {
          align-self: center;
          height: 20px;
        }
      }
      &:hover i.fa {
        background: $blue;
      }
    }
  }
}
/*next buttons*/
.prev {
  @extend .slideBtns;
  left: 0;
  i.fa {

  }
}
.next {
  @extend .slideBtns;
  right: 0;
  i.fa {
    right: 0;
  }
}

/*enter and leave animations*/
.slide.ng-hide {
	animation-name: bounceOutLeft;
	animation-duration: 0.8s;
  display: block!important;
  position: absolute;
}


/* for shopping bag page */
.checkout_page {
  margin: 100px auto 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .shopping_bag_wrap {
    background: #fff;
    flex: 3 1 450px;
    margin: 10px;
    padding: 2em;
    position: relative;
    align-self: baseline;
    .empty_bag {
      text-align: center;
      transition: all 0.2s;
    }
    .bag_item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0.5em;
      padding: 0.5em 0.3em;
      font-size: 1em;
      color: $controls;
      border: 1px solid transparent;
      position: relative;
      &:hover {
        border: 1px solid $controls;
      }
      &:first-child {
        margin-bottom: 0;
      }
      .bag_img_holder {
        display: flex;
        justify-content: center;
        margin-right: 0.2em;
        a {
          display: block;
          align-self: center;
          img {
            width: 70px;
            font-size: 0.4em;
          }
        }
      }
      .bag_info_container {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a.bag_item_name  {
          display: block;
          color: $controls;
          text-decoration: none;
          font-size: 0.6em;
          transition: none;
          &:hover {
            color: $blue;
            text-decoration: underline;
          }
        }
        .bag_price_qty_wrap {
          display: flex;
          font-size: 0.7em;
          .bag_item_price {
            margin-right: 1em;
                align-self: center;
          }
          .bag_item_qty {
            align-self: center;
            font-size: 0.5em;
            display: flex;
            span {
              font-size: 1.5em;
              color: $controls;
              display: block;
              align-self: center;
              margin-right: 0.4em;
            }
            .qty_field_wrap {
              display: flex;
              justify-content: flex-start;
              height: 30px;
              input {
                width: 40px;
                height: 100%;
                border: 1px solid $controls;
                border-right: none;
                border-left: none;
                padding: 0 5px;
              }
              .qty_controls {
                width: 30px;
                height: 100%;
                background: #fff;
                color: inherit;
                cursor: pointer;
                border: 1px solid $controls;
              }
            }
            // input {
            //   padding: 0.2em;
            //   border: 1px solid lighten($controls, 10%);
            //   width: 50px;
            //   outline: none;
            //   &:active {
            //     border-color: $blue;
            //   }
            //   &:selection {
            //     border-color: $blue;
            //   }
            // }
          }
        }
      }
      .remove_btn {
        align-self: center;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        &:hover div {
          background: $red
        }
        div {
          width: 60%;
          background: $controls;
          height: 4px;
          border-radius: 3px;
          position: absolute;
          align-self: center;
          transition: all 0.3s;
        }
        div:first-child {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        div:last-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
  .summary_wrap {
    background: #fff;
    flex: 1 1 200px;
    margin: 10px;
    padding: 2em;
    align-self: flex-start;
    .continue_btn_wrap {
      margin-bottom: 14px;
    }
    .summary_title {
      color: $controls;
      font-size: 0.6em;
      text-align: center;
      margin-bottom: 14px;
      width: 100%;
    }
    .bag_info_wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 14px;
      font-family: lato, sans-serif;
      font-weight: bold;
      font-size: 0.7em;
      span {

      }
    }
    .savings_info {
      color: $controls;
      font-size: 0.6em;
      text-align: center;
      margin-bottom: 14px;
      width: 100%;
      background: lighten($controls, 50%);
      font-style: italic;
      i.fa {
        -webkit-transform: skew(-12deg);
        -moz-transform: skew(-12deg);
        -ms-transform: skew(-12deg);
        transform: skew(-12deg);
      }
    }
    .bag_checkout {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    .bag_notes {
      font-size: 0.5em;
      color: $controls;
    }
  }
}
