@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps');

@import 'https://fonts.googleapis.com/css?family=Raleway:100,300';
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';


$gray: #595959;
$light_gray: #B2B2B2;
$controls: rgb(180,180,180);

$blue: #7BD5ED;

$green: #7BD59C;
$red: #DE3636;
