<header class="header" ng-include src="'views/templates/pages-header.html'"></header>

<main class="page_wrap error_page">
  <div class="error_title">
    <h1>404,</h1>
    <span>oops not found</span>
  </div>
  <div class="error_body">
    <p>Seems that <span>page is</span> missing. <span>did you</span> want to look at some <span><a href="/products">products</a> instead?</span> Or our <span>awesome sauce</span> <a href="https://tiedwithstrings.com/blog/">blog</a> perhaps?</p>
  </div>
</main>

<footer ng-include src="'views/templates/footer.html'"></footer>
