<div class="footer_center">
  <ul id="footer_nav" class="footer_list">
      <p>nav</p>
      <li><a href="/">home</a></li>
      <li><a href="/product-directory">products</a></li>
      <li><a href="https://tiedwithstrings.com/blog/">blog</a></li>
      <li><a href="/policy">privacy policy</a></li>
      <li><a href="/contact-us">contact us</a></li>
      <li><a href="/about-us">about us</a></li>
  </ul>
  <div id="center_wrap">
      <a href="/">
        <img id="footer_logo" src="content/img/logo/full-color/tws_logo_small150.jpg">
      </a>
      <p id="company_address"><i class="fa fa-map-marker"></i>2282 W Arroyo Way Queen Creek, Az</p>
      <div id="social_wrap" class="social_wrap">
          <ul>
            <li><a href="mailto:contactus@tiedwithstrings.com"><img src="content/img/icons/email.png" alt="email icon"></a></li>
            <li><a href="https://www.facebook.com/tiedwithstrings" target="_blank"><img src="content/img/icons/fb.png" alt="facebook icon"></a></li>
            <li><a href="https://www.pinterest.com/twstrings/" target="_blank"><img src="content/img/icons/pinterest.png" alt="pinterest icon"></a></li>
            <li><a href="https://instagram.com/twstrings/" target="_blank"><img src="content/img/icons/instagram.png" alt="instagram icon"></a></li>
            <li><a href="#0" target="_blank"><img src="content/img/icons/etsy.png" alt="etsy icon"></a></li>
          </ul>
      </div>
  </div>
  <ul id="footer_links" class="footer_list">
      <p>fav links</p>
      <li><a href="http://lucyerb.com" target="_blank">Lucy Erb</a></li>
      <li><a href="#0">fav blog ideas</a></li>
      <li><a href="#0">Erb Web Dev</a></li>
      <li><a href="#0">Robyn's Cookie Jar</a></li>
  </ul>
</div>

<p id="copyright">&copy; tied with strings - web site made by <a href="#0">Erb Web Dev</a></p>
<div class="dots_wrap">
    <div class="dots dot1"></div>
    <div class="dots dot2"></div>
    <div class="dots dot3"></div>
    <div class="dots dot4"></div>
    <div class="dots dot5"></div>
    <div class="dots dot6"></div>
    <div class="dots dot7"></div>
    <div class="dots dot8"></div>
    <div class="dots dot9"></div>
    <div class="dots dot10"></div>
    <div class="dots dot11"></div>
    <div class="dots dot12"></div>
    <div class="dots dot13"></div>
    <div class="dots dot14"></div>
    <div class="dots dot15"></div>
    <div class="dots dot16"></div>
    <div class="dots dot17"></div>
    <div class="dots dot18"></div>
    <div class="dots dot19"></div>
    <div class="dots dot20"></div>
    <div class="dots dot21"></div>
    <div class="dots dot22"></div>
    <div class="dots dot23"></div>
    <div class="dots dot24"></div>
    <div class="dots dot25"></div>
</div>
