<nav class="cd-stretchy-nav ng-class:{'nav-is-visible' : visible}">
  <div class="nav_bkgd" ng-click="mainNavToggle()"></div>
  <a class="cd-nav-trigger" href="" ng-click="mainNavToggle()">
    menu
    <span aria-hidden="true"></span>
  </a>
  <ul>
    <li><a href="/" class="active" id="home" ng-click="mainNavToggle()"><span>home</span></a></li>
    <li><a href="/product-directory" id="products" ng-click="mainNavToggle()"><span>products</span></a></li>
    <li><a href="https://tiedwithstrings.com/blog/" id="blog" ng-click="mainNavToggle()"><span>blog</span></a></li>
    <li><a href="/policy" id="policy" ng-click="mainNavToggle()"><span>our policies</span></a></li>
    <li><a href="/contact-us" id="contact" ng-click="mainNavToggle()"><span>contact us</span></a></li>
  </ul>
  <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>

<div class="bag_container">
  <div class="bag_btn_wrap" ng-click="bagToggle()">
    <div class="view_bag_btn">
      <i class="fa fa-shopping-bag"></i>
    </div>
    <div class="bag_length" ng-show="bag.length > 0">
      <span>{{bag.length}}</span>
    </div>
  </div>

  <div class="bag_contents_wrap" ng-show="showBag">
    <div class="bag_contents">
      <a class="bag_item" ng-href="/product-directory/product{{item.link}}" ng-repeat="item in bag">
        <span class="bag_item_qty">{{item.qty}} x </span>
        <div class="bag_img_holder">
          <img ng-src="content/img/products/{{item.img}}" src="https://placeholdit.imgix.net/~text?txtsize=19&bg=ffffff&txt=200%C3%97200&w=200&h=200" alt="image of {{item.name}}" />
        </div>
        <span class="bag_item_name">{{item.name}}</span>
        <div class="remove_btn">
          <div></div>
          <div></div>
        </div>
      </a>
    </div>
    <div class="bag_controls">
      <a class="bag_checkout" ng-href="https://an140.infusionsoft.com/app/manageCart/processBundle?{{checkoutItemsLink()}}">Checkout</a>
      <div class="close_bag" ng-click="bagToggle()">
        <div class="close_btn">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
