<div class="title_wrap">
  <a href="/">
    <img class="logo" src="content/img/logo/full-color/tws_logo_small150.jpg" alt="tied with strings logo">
  </a>
  <div class="title_wrap">
    <h1 class="titles page_title">{{pagetitle}}</h1>
  </div>
</div>
<div class="dots_wrap">
  <div class="dots dot1"></div>
  <!-- <div class="dots dot2"></div> -->
  <div class="dots dot3"></div>
  <div class="dots dot4"></div>
  <div class="dots dot5"></div>
  <div class="dots dot6"></div>
  <div class="dots dot7"></div>
  <div class="dots dot8"></div>
  <div class="dots dot9"></div>
  <div class="dots dot10"></div>
  <div class="dots dot11"></div>
  <div class="dots dot12"></div>
  <div class="dots dot13"></div>
  <div class="dots dot14"></div>
  <div class="dots dot15"></div>
  <div class="dots dot16"></div>
  <div class="dots dot17"></div>
  <div class="dots dot18"></div>
  <div class="dots dot19"></div>
  <div class="dots dot20"></div>
  <div class="dots dot21"></div>
  <div class="dots dot22"></div>
  <div class="dots dot23"></div>
  <div class="dots dot24"></div>
  <div class="dots dot25"></div>
</div>
