<header class="header" ng-include src="'views/templates/pages-header.html'"></header>

<main class="show_case_page">
  <div class="page_wrap">
    <h2>Judy + Johnathan</h2>
  </div>
  <div class="mini_page_section">
    <div class="page_wrap">
      <h3>front</h3>
      <ul class="img_group_wrap">
        <li ng-repeat="i in front">
          <img ng-click="i.show = true" class="card_img" src="content/img/logo/full-color/tws_logo_small150.jpg" ng-src="{{::i.img}}" alt="" />
          <div class="item_name">
            <p ng-hide="front.length <= 1">{{::i.name}}</p>
          </div>
          <div class="light_box" ng-show="i.show">
            <div class="light_box_inner">
              <div class="close_btn" ng-click="i.show = false">
                <div></div>
                <div></div>
              </div>
              <img ng-click="i.show = false" class="img_in_lightbox" src="content/img/logo/full-color/tws_logo_small150.jpg" ng-src="{{::i.img}}" alt="" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mini_page_section">
    <div class="page_wrap">
      <h3>back</h3>
      <ul class="img_group_wrap">
        <li ng-repeat="i in back">
          <img ng-click="i.show = true" class="card_img" src="content/img/logo/full-color/tws_logo_small150.jpg" ng-src="{{::i.img}}" alt="" />
          <div class="item_name" ng-click="i.show = true">
            <p ng-hide="back.length <= 1">{{::i.name}}</p>
          </div>
          <div class="light_box" ng-show="i.show">
            <div class="light_box_inner">
              <div class="close_btn" ng-click="i.show = false">
                <div></div>
                <div></div>
              </div>
              <img ng-click="i.show = false" class="img_in_lightbox" src="content/img/logo/full-color/tws_logo_small150.jpg" ng-src="{{::i.img}}" alt="" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mini_page_section">
    <div class="page_wrap text_block">
      <p>Here are two of the samples that I made combining the tree background with the text style that you liked. </p>
        <p class="between">Do you like either of them? Are there any changes that you would like to see? Let me know what you think!</p>

      <p>Again, don't worry about offending me. This is all about creating something for you to help celebrate your marriage!</p>
    </div>
  </div>

</main>

<footer ng-include src="'views/templates/footer.html'"></footer>
