<header class="header" ng-include src="'views/templates/pages-header.html'"></header>

<div class="filters_wrap">
  <div class="collection_container">
    <div class="collection erica">
      Ericas
    </div>
    <div class="collection moms">
      Moms
    </div>
  </div>
  <div class="filters_container">
    <div class="me_dropdown filters_dropdown">
      <select ng-model="categorySearch">
        <<option value="">category...</option>
        <option ng-repeat="item in categories" value="{{item}}">
          {{item}}
        </option>
      </select>
    </div>
    <div class="me_input input_search">
      <input type="text" ng-class="{show_search : searchVisable}" ng-model="inputSearch" placeholder="ex. blankets" />
      <div class="search_icons" ng-click="searchToggle()">
        <i class="fa fa-search" ng-hide="searchVisable"></i>
        <i class="fa fa-times" ng-show="searchVisable"></i>
      </div>
    </div>
  </div>
</div>

<main class="page_wrap">
  <div class="pro_container">
    <a class="pro_box" ng-href="/product-directory/product{{$index}}"
    ng-repeat="pro in products | filter: inputSearch | filter: categorySearch">
      <div class="pro_img">
        <img
        ng-src="content/img/products/{{pro.img}}"
        src="https://placeholdit.imgix.net/~text?txtsize=19&bg=ffffff&txt=200%C3%97200&w=200&h=200"
        alt="image of {{pro.name}}"/>
      </div>
      <div class="pro_name">
        <span>{{pro.name}}</span>
      </div>
      <div class="price_box">
        <span class="pro_price">${{pro.price}}</span>
      </div>
    </a>
  </div>
</main>

<footer ng-include src="'views/templates/footer.html'"></footer>
