<header class="header" ng-include src="'views/templates/pages-header.html'"></header>

<main>
  <div class="filters_wrap">
    <div class="filters_bar">
      <div class="filters_tab ng-class:{'show_filters' : openFilter}">
        <div class="filters_close_wrap">
          <div class="close_btn" ng-click="openFilter = false">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="filters_tab_controls">
          <div class="me_input input_search">
            <input type="text" ng-model="inputSearch" placeholder="word search" />
          </div>
          <div class="me_dropdown filters_dropdown">
            <select ng-model="categorySearch">
              <option value="">category...</option>
              <option ng-repeat="item in categories" value="{{item}}">
                {{item}}
              </option>
            </select>
          </div>
          <div class="collection_container">
            <div class="collection_label">
              <span>Collections: </span>
            </div>
            <div class="collection erica ng-class:{'active_collec' : collecSearch == 'erica'}" ng-click="collecSearch = 'erica'">
              Ericas
            </div>
            <div class="collection moms ng-class:{'active_collec' : collecSearch == 'moms'}" ng-click="collecSearch = 'moms'">
              Moms
            </div>
            <div class="collection all ng-class:{'active_collec' : collecSearch == ''}"= ng-click="collecSearch = ''">
              all
            </div>
          </div>
          <div class="btn_wrap">
            <div class="btn_blue" ng-click="clearSearch()">
              Clear Search
            </div>
          </div>
        </div>
      </div>
      <div class="filters_bar_container">
        <div class="filters_toggle" ng-click="filterToggle()">
          filters
        </div>
        <div class="collection_container">
          <div class="collection_label">
            <span>Collections: </span>
          </div>
          <div
          class="collection erica ng-class:{'active_collec' : collecSearch == 'erica'}"
          ng-click="collecSearch = 'erica'">
            Ericas
          </div>
          <div
          class="collection moms ng-class:{'active_collec' : collecSearch == 'moms'}"
          ng-click="collecSearch = 'moms'">
            Moms
          </div>
          <div
          class="collection all ng-class:{'active_collec' : collecSearch == ''}"
          ng-click="collecSearch = ''">
            all
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page_wrap">
    <div class="pro_container">
      <a class="pro_box" ng-href="/product-directory/product{{pro.index - 1}}"
      ng-repeat="pro in products | filter: inputSearch | filter: categorySearch | filter: collecSearch">
        <div class="pro_img">
          <img
          ng-src="content/img/products/{{pro.img}}"
          src="content/img/logo/full-color/tws_logo_small150.jpg"
          alt="image of {{pro.name}}"
          ng-hide="pro.status == 'coming soon'"/>
        </div>
        <div class="pro_name">
          <span ng-class="{'show_name' : pro.status == 'coming soon'}">{{pro.name}}</span>
        </div>
        <div class="price_box ng-class:{'discount' : pro.discount}">
          <div class="price_off" ng-show="pro.discount">
            <span>{{pro.discount}}<i class="fa fa-percent" aria-hidden="true"></i> off</span>
          </div>
          <span class="pro_price" ng-hide="pro.discount || pro.status == 'coming soon'"><i class="fa fa-usd" aria-hidden="true"></i>{{pro.price.toFixed(2)}}</span>
          <span class="pro_price" ng-show="pro.discount"><i class="fa fa-usd" aria-hidden="true"></i>{{disPrice($index).toFixed(2)}}</span>
          <span class="pro_price" ng-show="pro.status == 'coming soon'">Coming Soon</span>
        </div>
      </a>
    </div>
  </div>
</main>

<footer ng-include src="'views/templates/footer.html'"></footer>
