<header class="header" ng-include src="'views/templates/pages-header.html'"></header>

<main class="page_wrap pro_wrap">
  <div class="pro_title_wrap">
    <h1 class="pro_name">{{product.name}}</h1>
    <!-- <div>
      <a class="btn_white_s" href="/product-directory">back</a>
    </div> -->
  </div>

  <div class="slider_wrap">
    <div class="slides_container">
      <div class="prev" ng-click="prev()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="next" ng-click="next()">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      <img
      class="slide ng-class:{'active' : item.visible}"
      ng-repeat="item in slides"
      ng-show="item.visible"
      src="https://placeholdit.imgix.net/~text?txtsize=19&bg=ffffff&txt=200%C3%97200&w=200&h=200"
      ng-src="{{item.img}}"/>
  </div>

  <div class="page_wrap">
    <div class="pro_info_wrap">
      <div class="pro_description col">
        <div class="pro_dis_box">
          <p>{{product.longDescription}}</p>
          <div class="feature_box">
            <h3>features</h3>
            <ul>
              <li ng-repeat="item in product.features">
                {{item}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pro_checkout col">
        <div class="price_box">
          <div class="pro_price_wrap">
            <p class="pro_percent" ng-show="product.discount">{{product.discount}}<i class="fa fa-percent" aria-hidden="true"></i> off</p>
            <p class="pro_price"><i class="fa fa-usd" aria-hidden="true"></i>{{disPrice}} <span ng-show="product.discount"><i class="fa fa-usd" aria-hidden="true"></i>{{product.price}}</span></p>
          </div>
          <span class="qty_label">quantity:</span>
          <div class="qty_field_wrap">
            <button class="qty_controls" ng-click="minusQTY()"> - </button>
            <input type="number" ng-model="qtyField" />
            <button class="qty_controls" ng-click="qtyField = qtyField + 1"> + </button>
          </div>
          <div class="btn_red" ng-click="addToBag()">
            <span>add to bag</span>
          </div>
        </div>
      </div>
    </div>
  </div>



</main>

<footer ng-include src="'views/templates/footer.html'"></footer>
