<div id="bag_btn"></div>
<header class="header" ng-include src="'views/templates/pages-header.html'"></header>

<main class="page_wrap pro_wrap">
  <div class="pro_title_wrap">
    <h1 class="pro_name">{{product.name}}</h1>
    <!-- <div>
      <a class="btn_white_s" href="/product-directory">back</a>
    </div> -->
  </div>

  <div class="slider_wrap" ng-hide="product.status == 'coming soon'">
    <div class="slides_container">
      <div class="prev" ng-click="prev()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="next" ng-click="next()">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      <img
      class="slide ng-class:{'active' : item.visible}"
      ng-repeat="item in slides"
      ng-show="item.visible"
      src="https://placeholdit.imgix.net/~text?txtsize=19&bg=ffffff&txt=200%C3%97200&w=200&h=200"
      ng-src="content/img/products/{{item.img}}"/>
    </div>
  </div>

  <div class="pro_controls">
    <div class="pro_control_wrap">
      <a href="/products" class="btn_blue">Continue Shopping</a>
    </div>
  </div>

  <div class="pro_page_wrap">
    <div class="pro_info_wrap">
      <div class="pro_description col">
        <div class="pro_dis_box">
          <div class="bread_crumbs">
            <span><a href="/products">Products</a> > {{product.name}}</span>
          </div>
          <p>{{product.longDescription}}</p>
          <div class="feature_box" ng-hide="product.status == 'coming soon' || product.status == 'coming soon w imgs'">
            <h3 ng-hide="product.collection === 'ericas custom announcements and invitations'">features</h3>
            <h3 ng-show="product.collection === 'ericas custom announcements and invitations'">we will:</h3>
            <ul>
              <li ng-repeat="item in product.features">
                {{item}}
              </li>
            </ul>
          </div>
          <div class="feature_box" ng-show="product.status == 'coming soon' || product.status == 'coming soon w imgs'">
            <h3>Coming Soon</h3>
            <p>We are still working on putting these items together, but we would still love to work with you now on a custom project. Have anything in mind? Fill out the form below and we will get back to you fast.</p>
          </div>
          <p class="sku">sku: {{product.sku}}</p>
        </div>
      </div>
      <div class="pro_checkout col" ng-hide="product.status == 'coming soon' || product.status == 'coming soon w imgs'"
      ng-if="product.collection != 'ericas custom announcements and invitations'">
        <div class="price_box">
          <div>
            <div class="pro_price_wrap">
              <p class="pro_percent" ng-show="product.discount">{{product.discount}}<i class="fa fa-percent" aria-hidden="true"></i> off</p>
              <p class="pro_price"><i class="fa fa-usd" aria-hidden="true"></i>{{disPrice.toFixed(2)}}</p>
              <p class="pro_original" ng-show="product.discount">org: <i class="fa fa-usd" aria-hidden="true"></i>{{product.price.toFixed(2)}}</p>
            </div>
            <div class="qty_field_wrap ng-class:{'no_qty' : product.qtyAvailable <= 1}">
              <button class="qty_controls" ng-click="minusQTY()" ng-disabled="product.qtyAvailable <= 1"> - </button>
              <input type="number" ng-model="qtyField" ng-disabled="product.qtyAvailable <= 1"/>
              <button class="qty_controls" ng-click="plusQTY()" ng-disabled="product.qtyAvailable <= 1"> + </button>
            </div>
            <div class="qty_avail">
              <span ng-show="product.qtyAvailable > 1">Available: {{product.qtyAvailable}}</span>
              <span ng-show="product.qtyAvailable == 1">Only one available</span>
              <span ng-show="product.qtyAvailable < 1">No more in stock</span>
            </div>
            <div class="qty_message" ng-show="exceedQtyAvail">
              <span>There are no more than {{product.qtyAvailable}} available</span>
            </div>
            <a href="#bag_btn" class="btn_red" ng-hide="product.qtyAvailable < 1" ng-click="addToBag(); bagToggle()">
              <span>add to bag</span>
            </a>
            <div class="btn_red no_qty" ng-show="product.qtyAvailable < 1">
              <span>add to bag</span>
            </div>
          </div>
        </div>
      </div>
      <div class="pro_form_box col" ng-if="product.collection == 'ericas custom announcements and invitations' && product.status != 'coming soon'">
        <div class="">
          <h3>let's get started!</h3>
        </div>
        <form class="infuse_form" accept-charset="UTF-8" action="https://an140.infusionsoft.com/app/form/process/057770e90414ca5c886724184dad4e4d" class="infusion-form" method="POST">
          <input name="inf_form_xid" type="hidden" value="057770e90414ca5c886724184dad4e4d">
          <input name="inf_form_name" type="hidden" value="TWS Questions Comments Requests">
          <input name="infusionsoft_version" type="hidden" value="1.62.0.37">

          <input class="infusion-field-onwhite" id="inf_field_FirstName" name="inf_field_FirstName" type="text" placeholder="first name*" onblur="requiredField(this)" required>
          <input class="infusion-field-onwhite" id="inf_field_LastName" name="inf_field_LastName" type="text" placeholder="last name">
          <input class="infusion-field-onwhite" id="inf_field_Email" name="inf_field_Email" type="email" placeholder="email*" onblur="requiredField(this)" required>
          <input class="infusion-field-onwhite" id="inf_custom_TimeFrame" name="inf_custom_TimeFrame" type="text" placeholder="time frame*" onblur="requiredField(this)" required/>
          <input class="infusion-field-onwhite" id="inf_custom_budget" name="inf_custom_budget" type="text" placeholder="budget*" onblur="requiredField(this)" required/>
          <input class="infusion-field-onwhite" id="inf_custom_Numofprints" name="inf_custom_Numofprints" placeholder="est. number of prints" type="text" />
          <div class="text_areas">
              <textarea cols="5" rows="5" class="infusion-field-onwhite"  id="inf_custom_Surveymessage" name="inf_custom_Surveymessage" placeholder="{{product.placeholder}}*" onblur="requiredField(this)" required></textarea>
          </div>

          <button class="infusion-submit" type="submit">
              submit <i class="fa fa-bolt"></i>
          </button>
        </form>
        <script type="text/javascript" src="https://an140.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=ce1c56f581c3fcee728d109870c1eb9a"></script>
      </div>
    </div>

    <div ng-show="product.status == 'coming soon' || product.status == 'coming soon w imgs'">
      <form class="infuse_form" accept-charset="UTF-8" action="https://an140.infusionsoft.com/app/form/process/19569fedd6f8f6be5e79cde33dd5e7f8" class="infusion-form" method="POST">
        <input name="inf_form_xid" type="hidden" value="19569fedd6f8f6be5e79cde33dd5e7f8">
        <input name="inf_form_name" type="hidden" value="TWS Questions Comments Requests">
        <input name="infusionsoft_version" type="hidden" value="1.44.0.46">

        <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" placeholder="first name*" onblur="requiredField(this)" required>
        <input class="infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="text" placeholder="last name">
        <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="email" placeholder="email*" onblur="requiredField(this)" required>
        <div class="text_areas">
            <textarea cols="5" rows="5" class="infusion-field-input-container"  id="inf_custom_Comments" name="inf_custom_Comments" placeholder="your message...*" onblur="requiredField(this)" required></textarea>
        </div>

        <button class="infusion-submit" type="submit">
            submit <i class="fa fa-bolt"></i>
        </button>
      </form>
      <script type="text/javascript" src="https://an140.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=ce1c56f581c3fcee728d109870c1eb9a"></script>
    </div>


  </div>
</main>

<footer ng-include src="'views/templates/footer.html'"></footer>
<script>
$(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
