<script>
$(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
<header class="home_header">
  <div class="home_title_wrap">
    <a href="/">
      <img class="logo" src="content/img/logo/full-color/tws_logo_small150.jpg" alt="tied with strings logo">
    </a>
    <h1 hidden="true">tied with strings</h1>
    <div class="title_wrap">
      <h3 class="title1 titles">tied with</h3>
      <h2 class="title2 titles">strings</h2>
    </div>
  </div>
  <div class="dots_wrap">
    <div class="dots dot1"></div>
    <div class="dots dot2"></div>
    <div class="dots dot3"></div>
    <div class="dots dot4"></div>
    <div class="dots dot5"></div>
    <div class="dots dot6"></div>
    <div class="dots dot7"></div>
    <div class="dots dot8"></div>
    <div class="dots dot9"></div>
    <div class="dots dot10"></div>
    <div class="dots dot11"></div>
    <div class="dots dot12"></div>
    <div class="dots dot13"></div>
    <div class="dots dot14"></div>
    <div class="dots dot15"></div>
    <div class="dots dot16"></div>
    <div class="dots dot17"></div>
    <div class="dots dot18"></div>
    <div class="dots dot19"></div>
    <div class="dots dot20"></div>
    <div class="dots dot21"></div>
    <div class="dots dot22"></div>
    <div class="dots dot23"></div>
    <div class="dots dot24"></div>
    <div class="dots dot25"></div>
  </div>
  <a href="#hello">
    <div class="scroll_down"></div>
  </a>
  <div class="scroll_highlight highlight"></div>
</header>

<div id="hello" class="separation"></div>

<div id="main_page_wrap">
    <div class="background_section1 section">
        <div class="hello">
            <div class="section_title_wrapper">
                <h2>hello!</h2>
            </div>
            <p>Welcome to tied with strings! A place where we love graphic design, crafts, being together as a family, and, most importantly, getting to know and serve you. We strive to bring you some of your favorite things all wrapped in paper and tied with strings directly from our family to yours. Contact us if you have any comments, questions, or requests.We are excited to get to know you and hear from you! <a href="about-us.html">Find out more about us</a></p>
        </div>
    </div>
    <div class="middle_section">
        <div class="mid_wrapper">
            <div id="social_box">
                <ul id="headline">
                    <li><h3>imagine.</h3></li>
                    <li><h3>create.</h3></li>
                    <li><h3>inspire.</h3></li>
                </ul>
                <div class="social_wrap">
                    <ul>
                        <li><a href="mailto:contactus@tiedwithstrings.com"><img src="content/img/icons/email.png" alt="email icon"></a></li>
                        <li><a href="https://www.facebook.com/tiedwithstrings" target="_blank"><img src="content/img/icons/fb.png" alt="facebook icon"></a></li>
                        <li><a href="https://www.pinterest.com/twstrings/" target="_blank"><img src="content/img/icons/pinterest.png" alt="pinterest icon"></a></li>
                        <li><a href="https://instagram.com/twstrings/" target="_blank"><img src="content/img/icons/instagram.png" alt="instagram icon"></a></li>
                        <li><a href="#0" target="_blank"><img src="content/img/icons/etsy.png" alt="etsy icon"></a></li>
                    </ul>
                </div>
                <p>sign up to for our blog newsletter and hear about our first product collection when it is released.</p>
                <div class="newsletter_box">
                    <form id="newsletter_form" accept-charset="UTF-8" action="https://an140.infusionsoft.com/app/form/process/bd747cd44142b35d313964c70bd13b55" class="infusion-form" method="POST">
                        <input name="inf_form_xid" type="hidden" value="bd747cd44142b35d313964c70bd13b55" />
                        <input name="inf_form_name" type="hidden" value="TWStrings Newsletter" />
                        <input name="infusionsoft_version" type="hidden" value="1.44.0.40" />

                        <input class="infusion-field-input-container required" id="inf_field_FirstName" name="inf_field_FirstName" type="text" placeholder="first name *" onblur="requiredField(this)" required/>
                        <input class="infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="text" placeholder="last name"/>
                        <input class="infusion-field-input-container required" id="inf_field_Email" name="inf_field_Email" type="email" placeholder="email *" onblur="requiredField(this)" required/>
                        <button class="newsletter_submit" type="submit">
                            <i class="fa fa-envelope newsletter_icon"></i>
                        </button>
                    </form>
                    <script type="text/javascript" src="https://an140.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=ce1c56f581c3fcee728d109870c1eb9a"></script>
                </div>
            </div>
        </div>
    </div>
    <div class="background_section2 section">
        <div class="blog">
            <p><span class="post_title">So this is what they call nesting…</span>Life has been really busy over the past month. We have been working on starting and finishing up a bunch of projects around our home. And, of course, we have been putting them off for the last 3 years saying that we will get to them and now, of course, we are finally deciding to do all of them while I am in my third trimester of pregnancy. I don’t know who’s brilliant idea it was to do that…  *clears throat and looks away*…. I guess it was mine. But...</p>
            <p><a href="https://tiedwithstrings.com/blog/a-little-bit-about-us/" target="_blank">read more</a></p>
                <h2><a href="https://tiedwithstrings.com/blog/" target="_blank">blog!</a></h2>
        </div>
    </div>
</div>
<div class="separation"></div>
